<h1>Recipe</h1>
<div style="border: 2px dotted">
    <h2>{{recipe.0.title}}</h2>
   <a href='/author/{{recipe.author.user_backend.id}}'>
        <h5>by. {{recipe.author.name}}</h4>
    </a>
    <h3>{{recipe.description}}</h3>
    <h4>Required time: {{recipe.time_required}}</h3>
        <h5>Instructions: {{recipe.instructions}}
    </h4>

    <br>
    <a href="/editrecipe/{{ recipe.id }}"><button>Edit Recipe</button></a>
    <!-- {% if recipe.author == request.user.recipeauthor %} -->
    <!-- <a href="/editrecipe/{{ recipe.id }}"><button>Edit Recipe</button></a> -->
        <!-- {% elif is_admin %}
    <a href="/editrecipe/{{ recipe.id }}"><button>Edit Recipe</button></a>
    {% endif %} -->
    {% if request.user.is_active %}
    <form name="favorite" method="POST">
        {% csrf_token %}
    <input type="hidden" name="rule" value="favorite">
    <input type="hidden" name="id" value="{{ favorites.id }}"/>
    <input type="submit" value="Add Recipe to Favorites" />
    {% endif %}
   
</div>